@import "~bootstrap/scss/bootstrap";

#content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#one {
  background: #9c2fb0;
}

#two {
  background: #663fb4;
}

#three {
  background: #4055b2;
}

#four {
  background: #587cf7;
}

#five {
  background: #1daaf1;
}

#six {
  background: #20bcd2;
}

#seven {
  background: #159588;
}

#eight {
  background: #2d9933;
}

#nine {
  background: #8cc050;
}

#ten {
  background: #fdc12f;
}

#eleven {
  background: #fd9728;
}

#twelve {
  background: #fa582c;
}
